{% extends 'myLezgo/base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper">
		<div class="container">
			<div class="about">
				<h1>About project</h1>

				<h3>Project description</h3>
				<p>Every day thousands of people fly to other cities and countries. Someone flies to rest, someone is sent to work and someone in search of himself. And not every person will have transport to move around his new terrain. Yes, you say taxi, public transport, metro. But will they be convenient for you if you have a lot of suitcases, blueprints, etc. Therefore, car rental is needed. Our car rental project. You can log in there, fill out a short form and choose a car. With a driver, without a driver, within the city limits, water and sweets - everything for your convenience</p>

				<h3>Why this topic was chosen</h3>
				<p>There are only two areas with Ayazhan and I are interested in: cars and IT technologies. And in this project, we decided to link these two directions. So the idea was born to make a car rental project at the beginning of the school year. and at the end of the semester, we are ready to present you a site about LEZGO car rental.</p>

				<h3>Project auditory</h3>
				<p>Our project is aimed mainly at a wide audience from 21 to 63. Why? because the cars in our fleet are suitable for everyone: from lovers of old Japanese people to young people who are obsessed with hypercars. Why 21? because we require a minimum of 3 years of driving experience to be rented out.Project features. </p>

				<h3>Project features</h3>
				<p>In our site you can log in, choose a car that suits you, write in support, leave wishes for the car, add a driver and sweets, and much more.</p>

				<h3>Similar projects in Kazakhstan </h3>
				<p>Еhere are several car rental companies in the vastness of the Kazakh Internet. Why is our project better? and so let's start: our project is first of all international. since mostly people rent cars when they fly abroad. secondly, their fleet is filled with low-class cars. And in our fleet you will find stage 4 tuned cars with 2jz-gte engines, American muscle cars with roaring exhaust pipes, executive cars and even hypercars.</p>
                <br>
                <br>
			</div>
		</div>
		
	</div>
{% endblock %}