{% extends 'myLezgo/base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper">
		<div class="container">
			<div class="about">
				<h1>About us</h1>

				<h4>LEZGO - is a developing website with the best car rental and rental offers at low prices. Thanks to cooperation with hundreds of rental companies that are leaders in both the global and local markets, we provide a wide selection of cars of all classes and find the best deals for your trips. Here you can choose the necessary car model for all occasions.</h4>
				<h4>Our website invites these offers as a sweeping assortment, online consultations from experts. And another key advantage of the website is considered to be a favorable transition and navigation. The implementation of this website will save you a lot of time, Our website ready to answer any of your questions, no matter where you are.
				Our services are your comfort and safety!
				</h4>
                <br>
                <br>

				
			</div>
		</div>
		
	</div>
{% endblock %}
